*{
    font-family: 'Prompt', sans-serif;
}
#copy{
    color:red;
    padding:1em 0;
    text-align:center;
    font-size:.8em;
    font-weight:700;
    color:rgb(255, 255, 255);
  }  
.typenameauto {
    text-align: center;
    color:#fff;
    padding-top:10em;
    font-size: 30px;
}

hr{ 
    display:block;
    width:200px;
    background:var(--ci5);
    height:4px;
    margin:auto;
} 

.hr2{ 
    display:block;
    width:150px;
    background:var(--ci5);
    height:2px;
    margin:auto;
    margin-left: 1%;
}

section{
    /* width: 100vw; */
    height: 100vh;
}

  body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      margin: 0;
      padding: 0;
      --ci5:hsl(295, 100%, 77%);
  }
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
.navbar {
    border-radius: 5px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.textprofile{
    color:#fff;
    font-size: 23px;
}
img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-top: 3rem;
    height: 200px;
    width: 200px;
    border-radius:40px;
} 

.makeitcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 10%;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 10px 16px;
    line-height: 1.5rem;
    color: white;
}

.parag1{
    width: 45%;
    color: aliceblue;
    margin-left: 2%;
    font-size: 25px;
}
.parag2{
    width: 10%;
    color: aliceblue;
    margin-right: 2%;
    font-size: 25px;
}
.headparag{
    margin-left: 1%;
    color: #2c2c2c;
    font-size: 15px;
}
.secondparag{
    margin-right: 2%;
    color: #2c2c2c;
    font-size: 15px;
}
.tools1{
    Position:absolute;
    border-radius: 30%;
    margin-left: 0%;
}
.tools2{
    Position:absolute;
    border-radius: 30%;
    margin-left: 60%;
}
.tools3{
    Position:absolute;
    border-radius: 30%;
    margin-left: -60%;
}
.toolstext{
    margin-top: 30%;
    color: white;
}